%nav#menu-holder.solid
  %a(href="index.html")
    .logo Olive Editor
  %input#mobilemenu(type="checkbox" hidden)
  %label(for="mobilemenu")
  %ul#mainmenu
    %li
      %a(href="download.html") Download
    %li
      %a(href="https://github.com/olive-editor/olive/issues") Report Bugs
    %li
      %a(href="https://github.com/olive-editor/olive/wiki") Wiki
    %li
      %a(href="https://olivevideoeditor.org/donate.php") Donate
    %li
      %a(href="https://www.patreon.com/olivevideoeditor") Patreon
    %li
      %a(href="https://twitter.com/oliveteam") Twitter
    %li
      %a(href="https://www.reddit.com/r/olive/") Reddit
